@import url(fonts/stylesheet.css);

header, nav, article, section, footer, aside 
{ 
  display: block; 
}

*{
    margin: 0;
    padding: 0;
}

.text-gta{
    color: #497521;
}
header
{
    position: relative;
    padding: 20px 10px;
    box-sizing: border-box;
    height: 34.4vw;
    background: rgba(41,70,15, 0.6);
    transition: 0.5s;
    box-shadow: inset 0 -23px 57px rgba(0,0,0,0.6);
}
header:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    background-image: url(bkg/gta-artwork.jpg);
    background-position: left top;
    background-size: cover;
}
header h1{
    font-size: 50px;
    padding: 20px 20px 0px 30px;
    color: #fff;
    font-family: "pricedownblack";
    line-height: 40px;
        text-shadow: 5px 0px 0px black, 0px 5px 0px black, 5px 5px 0px black, -5px 0px 0px black, 0px -5px 0px black, -5px -5px 0px black, -5px 5px 0px black, 5px -5px 0px black;
}
header p{
color: #eee;
    font-size: 13px;
    padding-left: 57px !important;
    padding-top: 20px;
    display: inline-block;
    text-align: right;
    line-height: 13px;
}

header h1 span {
    font-size: 77px;
    line-height: 0px;
    text-shadow: 5px 0px 0px black, 0px 5px 0px black, 5px 5px 0px black, -5px 0px 0px black, 0px -5px 0px black, -5px -5px 0px black, -5px 5px 0px black, 5px -5px 0px black;
    position: relative;
    bottom: -15px; 
    left: -7px;
}

nav 
{
    width: 20%;
    background-color: #96b977;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

nav h2 {
    color: #435434;
}

article 
{
  background-color: #cde8b01c;
    padding: 20px;
    box-sizing: border-box;
}
 
aside
{
  float:right; 
  width:20%;
  background-color:#96b977;
    padding: 20px;
        box-sizing: border-box;
    min-height: 195px;
}

aside h2 {
    color: #435434;
}
 
footer 
{
  clear:both;
    padding: 30px 10px;
    box-sizing: border-box;
background-color: #222;
}

footer p {
    color: white;
    text-align: center;
}

h1, h2 {
    font-family: calibri;
    color: #bbb;
}
h2{
    color: #435434;
    padding-bottom: 10px;
}

section{
    width: 60%;
}
p, a{
    font-family: calibri;
    font-size: 13px;
        color: #555;
}
p{
    color: #333;
}
ul {
    margin-top: 4px;
}
ul li a{
   text-decoration: none;
    color: #ffffffc9;
    text-transform: uppercase;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    font-weight: 700;
}
li {
    height: 45px;
    line-height: 45px;
    background: rgba(0,0,0,0.5);
    list-style: none;
    transition: 0.2s;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-right: 20px;
    text-align: right;
}


#wrap {
    display: flex;
}
form{
    text-align: right;
}

input {
    display: block;
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    font-family: calibri;
    box-sizing: border-box;
    box-shadow: inset 0px -5px 0px #495C3B;
    transition: 0.2s;
    color: #495C3B;
}

input[type=submit] {
    background: #495C3B;
    width: 50%;
    color: white;
    box-shadow: none;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    height: 45px;
}

input:focus {
    box-shadow: inset 0px -40px 0px #495C3B;
      outline-color: transparent;
  outline-style: none;
    color: white;
}